<a class="list-group-item main-sidebar" href="#/order"><i class="fa fa-money fa-2x"></i> Order </a>
<a class="list-group-item main-sidebar" href="#/kitchen">  <i class="fa fa-tasks fa-rotate-90 fa-2x"></i> Kitchen Display</a>
<a class="list-group-item main-sidebar" href="#/kitchen-touch">  <i class="fa fa-hand-o-up fa-2x"></i> Kitchen Touch</a>
<a class="list-group-item main-sidebar" href="#/menu">  <i class="fa fa-cutlery fa-2x"></i> Menu</a>
<a class="list-group-item main-sidebar" href="#/edit-menu">  <i class="fa fa-stack-exchange fa-2x"></i> Edit Menu</a>
<a class="list-group-item main-sidebar" href="#/archive">  <i class="fa fa-book fa-2x "></i> Archived Orders</a>
<a class="list-group-item main-sidebar" href="#/account">  <i class="fa fa-user o fa-2x "></i> My Account</a>
